OPENAI_API_KEY=

# LLM Configuration
# LLM_PROVIDER: Specify the LLM provider (e.g., "openai", "custom"). Default is "openai".
LLM_PROVIDER=openai
# LLM_API_BASE_URL: Optional. The base URL for the LLM API. Use for custom OpenAI-like endpoints.
# LLM_API_BASE_URL=
# LLM_MODEL_NAME: The model name to be used (e.g., "gpt-4o-mini", "custom-model"). Default is "gpt-4o-mini".
LLM_MODEL_NAME=gpt-4o-mini
